@import "../../styles/variables";

.radio-container {
  margin-bottom: 1rem;
}

.label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-label {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.radio-input {
  margin-right: 0.5rem;
}

.input-error {
  color: $error-red;
  font-size: 0.875rem;
}

.error {
  border-color: $error-red;
}
