@import 'styles/_mixins.scss';
@import 'styles/_variables.scss';

.App {
  @include flexStyles(flex, column, space-between, flex-start);

  & .main-section {
    flex: 1;
    @include sizes(100%, 60vh);
    min-height: 60vh;
    @include flexStyles(flex, row, space-between, center);

    &__filtration{
        border: 1px solid $light-grey;
        height: inherit;
        width: 40%;
    }

    &__products{
        border: 1px solid $light-grey;
        height: inherit;
        width: 60%;
        overflow: auto;
    }
  }

  & .add-section {
    flex: 1;
    @include sizes(100%, 40vh);
    min-height: 40vh;
    border: 1px solid $light-grey;
    @include flexStyles(flex, row, center, center);
  }
}
